<!DOCTYPE html>
<head>
</head>
<body>
<h1>HELLO</h1>

    <form method="POST", action="{{url_for('home')}}">
           <b> First value :  <input type="text", name='a', placeholder="enter 1"> <br><br>
            Second value :  <input type="text", name='b', placeholder="enter 2"> <br><br>
            Third value :  <input type="text", name='c', placeholder="enter 3"> <br><br>

Third value :  <input type="text", name='d', placeholder="enter 3"> <br><br>

Third value :  <input type="text", name='e', placeholder="enter 3"> <br><br>

Third value :  <input type="text", name='f', placeholder="enter 3"> <br><br>

Third value :  <input type="text", name='g', placeholder="enter 3"> <br><br>

Third value :  <input type="text", name='h', placeholder="enter 3"> <br><br>

Third value :  <input type="text", name='i', placeholder="enter 3"> <br><br>

Third value :  <input type="text", name='j', placeholder="enter 3"> <br><br>

Third value :  <input type="text", name='k', placeholder="enter 3"> <br><br>

Third value :  <input type="text", name='l', placeholder="enter 3"> <br><br>

Third value :  <input type="text", name='m', placeholder="enter 3"> <br><br>
Third value :  <input type="text", name='n', placeholder="enter 3"> <br><br>
Third value :  <input type="text", name='o', placeholder="enter 3"> <br><br>
Third value :  <input type="text", name='p', placeholder="enter 3"> <br><br>
Third value :  <input type="text", name='q', placeholder="enter 3"> <br><br>
Third value :  <input type="text", name='r', placeholder="enter 3"> <br><br>
Third value :  <input type="text", name='s', placeholder="enter 3"> <br><br>
Third value :  <input type="text", name='t', placeholder="enter 3"> <br><br>
Third value :  <input type="text", name='u', placeholder="enter 3"> <br><br>


            Fourth value : <input type="text", name='u', placeholder="enter 4"> <br><br><br></b>
            <input type="submit" , value='predict!' >
        </form>
</body>
</html>